@import '../../styles/utils/mixins.scss';

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--elements);
  height: 48px;

  @include on-tablet {
    gap: 16px;
  }

  @include on-desktop {
    gap: 24px;
    height: 64px;
  }
}

.link {
  display: flex;
}

.logo {
  width: 96px;
  height: 48px;

  @media (min-width: 1200px) {
    width: 128px;
    height: 64px;
  }
}

.button_wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-left: 1px solid var(--elements);
}

.menu_open {
  background: url('src/img/icons/Menu.png') center / cover no-repeat;
  width: 16px;
  height: 10px;
  cursor: pointer;
}

.menu_close {
  background: url('src/img/icons/Close.png') center / cover no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.linksContainer {
  display: flex;
  gap: 32px;
  height: 100%;
  align-items: center;

  @media (min-width: 1200px) {
    gap: 64px;
  }
}

.headerContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.icon {
  display: flex;
  justify-content: center;
  width: 48px;
  align-items: center;
  box-shadow: -1px 0px 0px #e2e6e9;
  cursor: pointer;

  @media (min-width: 1200px) {
    width: 64px;
  }

  &:hover {
    box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.09);
  }
}

.iconContainer {
  display: flex;
}

.linkContent {
  color: var(--secondary);
  font-size: 12px;

  &:hover {
    color: var(--primary);
  }
}

.linkActive {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -14px;
    height: 3px;
    background-color: var(--primary);

    @media (min-width: 1200px) {
      bottom: -22px;
    }
  }
}
