@import '../../../styles/utils/mixins.scss';

.slider {
  --gap-qty: 2;
  --column-qty: 3;
  --slides-qty: 4;
  --slider-item-width: calc(
    (var(--column-width) * var(--column-qty)) +
      (var(--column-gap) * var(--gap-qty))
  );
  --slider-width: calc(
    (var(--slider-item-width) * var(--slides-qty)) +
      (var(--column-gap) * (var(--slides-qty) - 1))
  );

  grid-column: 1 / -1;
  padding-left: var(--padding-inline);

  @include on-tablet {
    --gap-qty: 4;
    --column-qty: 5;
  }

  @include on-desktop {
    --gap-qty: 5;
    --column-qty: 6;
    padding-left: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-right: var(--padding-inline);
    margin-bottom: 24px;

    @include on-desktop {
      @include grid-container;
    }
  }

  &__title {
    @include h2-styles;
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 7;
    }
  }

  &__buttons {
    grid-column: span 2;
    justify-self: end;
    display: flex;
    gap: 16px;

    @include on-tablet {
      grid-column: -4 / -1;
    }
  }

  &__wrapper {
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    max-width: var(--slider-width);
  }

  &__list {
    display: flex;
    gap: var(--column-gap);
    transition: transform var(--transition) ease-in-out;
  }

  &__item {
    width: var(--slider-item-width);
  }
}
