@import '../../../styles/utils/mixins.scss';

.slider {
  display: flex;
  flex-direction: column;

  @include on-desktop {
    grid-column: 1 / -1;
  }

  &__wrapper {
    margin-bottom: 8px;
    height: 320px;
    display: flex;

    @include on-tablet {
      gap: 20px;
      height: 190px;

      @include grid-container;
      justify-content: center;
    }

    @include on-desktop {
      height: 400px;
    }
  }
  &__arrow_wrap {
    display: none;
    grid-column: span 1;
    background-color: var(--sm-button-bg);

    @include on-tablet {
      width: 32px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--icons);
    }
  }

  &__main {
    width: 100%;
    height: 100%;

    @include on-tablet {
      grid-column: span 10;
    }

    @include on-desktop {
      grid-column: 2 / -2;
    }
  }

  &__list {
    height: 100%;
    width: 100vw;

    position: relative;
    overflow: hidden;

    @include on-tablet {
      width: 100%;
    }
  }

  &__item {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: opacity var(--transition) ease-in-out;
  }

  &__link {
    display: flex;
    height: 100%;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.dots {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  &__wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__dot {
    height: 4px;
    width: 14px;
    background-color: var(--elements);
  }

  &__active {
    background-color: var(--primary);
  }
}
