@import "../../styles/utils/mixins";

.catalog {
  &__container {
    padding: 0 16px;

    @include on-tablet {
      padding: 0 24px;
    }

    @include on-desktop {
      padding: 0 32px;
    }
  }

  &__header {
    display: flex;
    justify-content: center
  }

  &__main {
    @include grid-container;
    justify-content: center;
    justify-items: center;
  }

  &__item {
    width: 100%;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 6;
    }
  }

  &__dropdown {
    @include grid-container;
    justify-content: center;
    padding-bottom: 24px;

    &_sort {
      grid-column: span 2;
      position: relative;

      @include on-tablet {
        grid-column: span 5;
      }
    }

    &_item {
      grid-column: span 2;
      position: relative;

      @include on-tablet {
        grid-column: span 3;
      }
    }
  }
}
