.button {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

  &-default {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }

    &:active {
      background-color: #e0e0e0;
    }

    &:disabled {
      background-color: #fff;
      color: #ccc;
      cursor: not-allowed;
    }
  }

  &-primary {
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #333;
    }
  }
}
