@import "../../styles/utils/mixins";

.product {
  &__card {
    border: 1px solid var(--elements);
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: all 0.5;

    width: 100%;
    padding: 31px;

    @include hover(box-shadow, 0 2px 4px 0 rgba(131, 137, 139, 0.12));

    &_link {
      color: inherit;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__img {
    max-height: 100%;
    max-width: 208px;
    object-fit: cover;
    margin-inline: auto;
    transition: transform var(--transition);
    z-index: 0;

    @include on-tablet {
      height: 202px;
    }

    @include on-desktop {
      height: 196px;
    }

    &_container {
      height: 130px;
      display: flex;
      justify-content: center;

      @include on-tablet {
        height: 202px;
      }

      @include on-desktop {
        height: 196px;
      }
    }
  }

  &__title {
    padding-top: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    flex: 1;
    height: 58px;

    text-overflow: ellipsis;
  }

  &__price {
    display: flex;
    gap: 8px;

    &_curr {
      font-size: 22px;
      line-height: 30.8px;
      font-weight: 800;
    }

    &_disc {
      color: var(--secondary);
      font-weight: 400;
      text-decoration: line-through;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    line-height: 15.34px;

    &_title {
      color: var(--secondary);
      font-weight: 600;
    }

    &_value {
      font-weight: 600;
    }
  }
}

.product__card:hover {
  .product__img {
    transform: scale(1.1);
  }
}

.breackLine {
  height: 1px;
  width: 100%;
  background-color: var(--elements);
}

.paddingTop {
  padding-top: 8px;
}

.paddingBotton {
  padding-bottom: 16px;
}

.actionBlock {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}
