@import '../../../styles/utils/mixins.scss';

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 592px;
}

.about {
  @include h3-styles;
}

.aboutTopic {
  @include h4-styles;
}

.line {
  height: 42px;
  border-bottom: 1px solid var(--elements);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.aboutText {
  color: var(--secondary);
  font-weight: 600;
}
