@import '../../../styles/utils/mixins.scss';

.characteristicsContainer {
  display: flex;
  justify-content: space-between;
}

.techSpecsAbout {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include on-desktop {
    width: 512px;
  }
}

.techSpecs {
  @include h3-styles;
}

.line {
  height: 42px;
  border-bottom: 1px solid var(--elements);
}

.techSpecsName {
  color: var(--secondary);
}

.techSpecsValue {
  color: var(--primary);
}
