@import '../../styles/utils/mixins.scss';
.aboutContent {
  width: 287px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include on-tablet {
    width: 592px;
  }

  @include on-desktop {
    width: 560px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  
}

.line {
  height: 42px;
  border-bottom: 1px solid var(--elements);
}
