@import "../../styles/utils/mixins";

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 10px;
}

.skeleton__description {
  margin-top: 4px;
  margin-bottom: 32px;
  width: 90px;
  height: 17px;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--elements);
  }

  100% {
    background-color: var(--white);
  }
}

.page__header {
  @include grid-container;
  row-gap: 0;
}

.page__bread {
  grid-column: 1/-1;
  margin-bottom: 24px;
}

.page__title {
  @include h1-styles;
  grid-column: 1/-1;
  margin-bottom: 8px;
}

.page__models {
  color: var(--secondary);
  margin-bottom: 32px;
  grid-column: 1/-1;
}
