body {
  --primary: #313237;
  --secondary: #89939a;
  --icons: #b4bdc3;
  --elements: #e2e6e9;
  --hoverBg: #fafbfc;
  --white: #ffffff;
  --green: #27ae60;
  --red: #eb5757;
  --transition: 0.3s;
  --cartHeight: 70px;
}
