@import "../../../styles/utils/mixins.scss";

.cartEmpty {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10vh;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cartEmptyPhotoWrap {
width: 300px;
height: 300px;
}

.cartEmptyPhoto {
width: 300px;
height: 300px;
object-fit: contain;
}

.cartEmptyTitle {
  @include h2-styles;
  font-weight: 400;
}
