@import '../../styles/utils/mixins.scss';

.menu {
  position: relative;
  min-height: calc(100vh - var(--cartHeight));
}

.navigation {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.link {
  display: block;
  padding: 8px 0;

  color: var(--primary);
  text-decoration: none;

  @include text-uppercase;

  &:active {
    color: var(--primary);
    text-decoration: none;
  }
}

.active {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.marked_goods_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 65px;
  border-top: 1px solid var(--elements);
}

.marked_good {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;

  &:first-child {
    border-right: 1px solid var(--elements);
  }
}

.favourites {
  background: url() center / cover no-repeat;

  width: 16px;
  height: 16px;
}

.img {
  width: 16px;
  height: 16px;
}
