@import '../../styles/utils/mixins.scss';

.wrapper {
  position: relative;
  display: inline-block;
  height: 60px;
  margin-bottom: 4px;
  width: 100%;
}

.label {
  color: var(--secondary);
  margin-bottom: 4px;

  @include small-text;
}

.dropdown {
  border: 1px solid var(--icons);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  padding-right: 12px;

  &:focus {
    border-color: var(--primary);
  }

  &:hover {
    border-color: var(--secondary);
  }
}

.dropdown_toggles {
  padding: 10px 12px;
  color: var(--drop-down-text);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown_menu {
  background-color: var(--main-background);
  border: 1px solid var(--elements);
  box-shadow: 0 2px 4px var(--elements);
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--transition) ease,
    transform var(--transition) ease;

  display: inline-flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
  top: 64px;

  li {
    padding-inline: 12px;
    height: 32px;
    display: flex;
    align-items: center;
  }
}

.visible {
  opacity: 1;
  visibility: visible;
}

.dropdown_item {
  height: 100%;
  width: 100%;

  &:hover {
    background-color: var(--drop-down-list);
  }
}

.filterParam {
  height: 100%;
  width: 100%;
  text-align: left;
  color: var(--secondary);

  &:hover {
    color: var(--primary);
  }
}
