.button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icons);
  cursor: pointer;

  &:hover {
    border-color: var(--primary);
  }
}

.disabled {
  border-color: var(--elements);

  &:hover {
    border-color: var(--elements);
  }
}
