@import 'src/styles/utils/mixins.scss'; 

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 10px;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--elements);
  }

  100% {
    background-color: var(--white);
  }
}

.textTopic {
  width: 130px;
  height: 21px;
}

.text {
  width: 90px;
  height: 19px;
}

.characteristicsContainer {
  display: flex;
  justify-content: space-between;
}

.techSpecsAbout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  @include on-desktop {
    width: 512px;
  }
}

.line {
  height: 42px;
  border-bottom: 1px solid var(--elements);
}
